/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

/* Posititoning Classes */


.clear {
  clear: both;
}

.col-1 {
  float: left;
  width: 32%;
 
}

.col-2 {
  float: left;
  width: 66%;
}

.col-3 {
   /*background-color: gray;*/

}

[class*="col-"]{
  /*float:left;*/
  margin-left: 2%;
  padding-left: 2%;
}

.first {
  margin-left: 0%;
}


